@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello!</h1>
    <p> <strong>At the end of this task, you should present a URL or IP address that takes me directly to your hosted application, that you will submit via the form. There are free virtual machines options that you can explore to achieve this. E.g. AWS free tier, Google Cloud Platform. </strong> </p>
    <p> </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque quis ligula tellus. Maecenas enim libero, eleifend nec ex eu, efficitur molestie nunc. Morbi ac enim ut lacus mattis posuere. Vestibulum velit massa, consequat sit amet nunc eget, sodales viverra lorem. Aliquam sit amet viverra risus. Aliquam hendrerit erat ut mauris vestibulum, sed eleifend felis finibus. Praesent pretium tempus lacus lobortis condimentum. Maecenas aliquet enim id libero dapibus mollis.</p>
    <p> <small>Integer et augue vel lectus sollicitudin aliquet. Ut quis lorem sed turpis interdum dignissim nec ac leo. Cras interdum vulputate sollicitudin. Donec tristique vehicula eros. Morbi lacinia purus et tellus sodales, vitae laoreet enim blandit. Sed vitae tellus massa. Praesent congue fermentum sem, at commodo dolor suscipit eget. Nullam lacus erat, congue ultrices nisl vulputate, volutpat dignissim elit. In ultrices condimentum dui, a blandit magna elementum ac. Nunc pretium aliquam est vitae aliquam. Nam et dapibus risus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse eget placerat dui, sit amet maximus elit. Proin elementum, ex vitae facilisis condimentum, turpis eros ultrices augue, in lobortis metus libero vel nibh. Proin congue at tortor gravida posuere. Morbi nec quam auctor, euismod tellus vitae, dictum neque. </small> </p>
    <h5>CC AYODEJI TORIOLA</h5>
</div>
